<div>
  <form [formGroup]="form">
    <div class="form-group">
      <label>Naziv smestaja:</label>
      <input name="name" class="form-control margin" [formControl]="name">

      <label>Grad:</label>
      <select class="form-control margin" [formControl]="city">
        <option>Novi Sad</option>
        <option>Beograd</option>
      </select>

      <label>Adresa:</label>
      <input name="address" class="form-control margin" [formControl]="address">

      <label>Tip smestajne jedinice:</label>
      <select class="form-control margin" [formControl]="type">
        <option>Hotel</option>
        <option>Bed&breakfast</option>
        <option>Apartman</option>
      </select>

      <label>Kategorija:</label>
      <select class="form-control" [formControl]="category">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>

      <label>Opis:</label>
      <textarea name="description" class="form-control" [formControl]="description"></textarea>

      <label>Kapacitet:</label>
      <input name="capacity" class="form-control margin" [formControl]="capacity">

      <label>Slika:</label>
      <input name="pic" class="form-control margin" [formControl]="pic">

      <div>

      </div>

      <button (click)="addAccomodation()" >Dodaj</button>
      <button>Zatvori</button>
    </div>
  </form>
</div>
