<ul>
  <li (click)="accomodationButton()"><a>Smestajne jedinice</a></li>
  <li (click)="message()"><a>Poruke</a></li>
  <li (click)="reservation()"><a>Rezervacije</a></li>
  <li>Odjavi se</li>
</ul>

<div>
  <label>Posalji poruku centralnom modulu: </label>
  <input name="messageToCentral" class="form-control margin" [formControl]="messageToCentral">
  <button class="btn btn-primary" (click)="sendToCentral()">Posalji sledecu poruku poruku centralnom modulu</button>

</div>

<div *ngIf="accomodation == true">
  <accomodation></accomodation>
</div>
