<!-- Large outline input -->
<div >
  <div style=" display: inline-block;margin-left: 29%;">
    <h1 style="font-size: 50px;margin-left: 50px;margin-bottom: 20px;color: #24478f ">MegaTravel</h1>
  </div>

  <div style=" display: inline-block;">
    <h1 style="font-size: 50px;margin-bottom: 40px;color: #1a8cff">.com </h1>
  </div>


</div>
<ul>
  <li (click)="login()"><a>Uloguj se</a></li>
  <li (click)="registration()"><a>Registruj se</a></li>
  <li (click)="myRes()"><a>Moje rezervacije</a></li>
  <li (click)="logOut()"><a>Odjavi se</a></li>
  <li (click)="messages()"><a>Poruke</a></li>
</ul>

<div>
  <form [formGroup]="form">
    <div class="form-group">
      <label >Grad:</label>
      <input name="city" class="form-control margin" [formControl]="city">
      <small class="form-text error" *ngIf="city.errors?.required && city.touched" style="color: red">
        Naziv grada je obavezan!
      </small>
      <br/>
      <label >Datum prijavljivanja:</label>
        <input type="date" class="form-control margin" [formControl]="checkInDate" name="checkInDate" id="input-checkIn"
               placeholder="Unesite datum dolaska">
        <small class="form-text error" *ngIf="checkInDate.errors?.required && checkInDate.touched" style="color: red">
          Ovo polje je obavezno za unos!
        </small>
      <br/>

      <label >Datum odjavljivanja:</label>
        <input type="date" class="form-control margin" [formControl]="checkOutDate" name="checkOutDate" id="input-checkOut"
               placeholder="Unesite datum odlaska">
        <small class="form-text error" *ngIf="checkOutDate.errors?.required && checkOutDate.touched" style="color: red">
          Ovo polje je obavezno za unos!
        </small>
      <br/>
        <label >Broj osoba:</label>
        <input name="numberOfPersons" class="form-control margin" [formControl]="numberOfPersons">
        <small class="form-text error" *ngIf="numberOfPersons.errors?.required && numberOfPersons.touched" style="color: red">
          Broj osoba je obavezan!
        </small>


        <button class="btn btn-dark" (click)="serachRooms()" [disabled]="!form.valid"><i class="fa fa-search"></i></button>



    </div>
  </form>
</div>

<div
  style="text-align: center; margin-left: 20%;margin-right: 20%">
  <div *ngFor="let item of items"
       style="text-align: center;border-style: solid;border-width: 2px;border-color: darkgray;margin-top: 20px;">
    <h1 style="margin-top: 20px">Soba</h1>
    <p style="font-size: 20px">Kapacitet:  {{item.capacity}}</p>
    <p style="font-size: 20px">Sprat:  {{item.floor}}</p>
    <p style="font-size: 20px">Balkon: {{item.hasBalcony}}</p>
    <p style="margin-bottom: 0%;font-size: 20px">Moguce otkazati:  {{item.day}} dana pre isteka rezervacije</p>

    <div style="margin-bottom: 20px">
      <button [hidden]="vis"
        style="border-radius: 12px;background-color: #1a8cff;color: white;height: 45px;width: 110px;font-size: 20px;margin-right: 20px"
        (click)="reservationRoom(item)">Rezervisi
      </button>
      <h4 [hidden]="!vis">Za rezervaciju neophodno je da se ulogujete</h4>

    </div>
  </div>
</div>

<div *ngIf="advancedSearch == true">
  <label><br/><b><i>Napredna pretraga</i></b></label>
  <form [formGroup]="advancedSearchform">

    <div class="form-group">
      <div>
        <div>
          <label>Tip smeštaja:</label>
        </div>
        <div style=" display: inline-block;margin-left: 0%;">
          <label>Hotel</label>
          <input name="hotel" class="form-control margin" id="input-hotel" type="checkbox"
             [formControl]="tipHotel">
        </div>
        <div style=" display: inline-block;margin-left: 10%;">
          <label>Bed & breakfast</label>
          <input name="hotel" class="form-control margin" id="input-badAndBreakfast" type="checkbox"
             [formControl]="tipBadAndBreakfast">
        </div>
        <div style=" display: inline-block;margin-left: 10%;">
          <label>Apartman</label>
          <input name="hotel" class="form-control margin" id="input-apartman" type="checkbox"
             [formControl]="tipApartman">
        </div>
      </div>
      <div>
        <div>
          <label><br/>Kategorija smeštaja:</label>
        </div>
        <div style=" display: inline-block;margin-left: 0%;">
          <label>1 zvezdica</label>
          <input name="kategorija1" class="form-control margin" id="input-kategorija1" type="checkbox"
                 [formControl]="kategorija1">
        </div>
        <div style=" display: inline-block;margin-left: 10%;">
          <label>2 zvezdice</label>
          <input name="kategorija2" class="form-control margin" id="input-kategorija2" type="checkbox"
                 [formControl]="kategorija2">
        </div>
        <div style=" display: inline-block;margin-left: 10%;">
          <label>3 zvezdice</label>
          <input name="kategorija3" class="form-control margin" id="input-kategorija3" type="checkbox"
                 [formControl]="kategorija3">
        </div>
        <div style=" display: inline-block;margin-left: 10%;">
          <label>4 zvezdice</label>
          <input name="kategorija4" class="form-control margin" id="input-kategorija4" type="checkbox"
                 [formControl]="kategorija4">
        </div>
        <div style=" display: inline-block;margin-left: 10%;">
          <label>5 zvezdica</label>
          <input name="kategorija5" class="form-control margin" id="input-kategorija5" type="checkbox"
                 [formControl]="kategorija5">
        </div>
        <div style=" display: inline-block;margin-left: 10%;">
          <label>Nekategorisan</label>
          <input name="nekategorisan" class="form-control margin" id="input-nekategorisan" type="checkbox"
                 [formControl]="nekategorisan">
        </div>
      </div>
      <div>
        <div>
          <label><br/>Dodatne usluge:</label>
        </div>
        <div style=" display: inline-block;margin-left: 0%;">
          <label>Parking</label>
          <input name="parking" class="form-control margin" id="input-parking" type="checkbox"
                 [formControl]="parking">
        </div>
        <div style=" display: inline-block;margin-left: 10%;">
          <label>WiFi</label>
          <input name="wifi" class="form-control margin" id="input-wifi" type="checkbox"
                 [formControl]="wifi">
        </div>
        <div style=" display: inline-block;margin-left: 10%;">
          <label>Doručak</label>
          <input name="dorucak" class="form-control margin" id="input-dorucak" type="checkbox"
                 [formControl]="dorucak">
        </div>
        <div style=" display: inline-block;margin-left: 10%;">
          <label>Polu pansion</label>
          <input name="poluPansion" class="form-control margin" id="input-poluPansion" type="checkbox"
                 [formControl]="poluPansion">
        </div>
        <div style=" display: inline-block;margin-left: 10%;">
          <label>Pansion</label>
          <input name="pansion" class="form-control margin" id="input-pansion" type="checkbox"
                 [formControl]="pansion">
        </div>
        <div style=" display: inline-block;margin-left: 10%;">
          <label>All inclusive</label>
          <input name="allInclusive" class="form-control margin" id="input-allInclusive" type="checkbox"
                 [formControl]="allInclusive">
        </div>
        <div style=" display: inline-block;margin-left: 10%;">
          <label>Pet friendly</label>
          <input name="petFriendly" class="form-control margin" id="input-petFriendly" type="checkbox"
                 [formControl]="petFriendly">
        </div>
        <div style=" display: inline-block;margin-left: 10%;">
          <label>TV</label>
          <input name="tv" class="form-control margin" id="input-tv" type="checkbox"
                 [formControl]="tv">
        </div>
        <div style=" display: inline-block;margin-left: 10%;">
          <label>Mini kuhinja</label>
          <input name="miniKuhinja" class="form-control margin" id="input-miniKuhinja" type="checkbox"
                 [formControl]="miniKuhinja">
        </div>
        <div style=" display: inline-block;margin-left: 10%;">
          <label>Privatno kupatilo</label>
          <input name="kupatilo" class="form-control margin" id="input-kupatilo" type="checkbox"
                 [formControl]="kupatilo">
        </div>
        <div style=" display: inline-block;margin-left: 10%;">
          <label>Besplatno otkazivanje</label>
          <input name="besplatnoOtkazivanje" class="form-control margin" id="input-besplatnoOtkazivanje" type="checkbox"
                 [formControl]="besplatnoOtkazivanje">
        </div>

      </div>
      <button class="btn btn-dark" (click)="advancedSearchRooms()"><i class="fa fa-search"></i></button>



    </div>
  </form>
</div>






