<h1 style="font-weight: bold;margin-left: 420px">CERTIFICATE</h1>
<br>
<form [formGroup]="form">
  <div class="form-group">

  <div class="container" class="jumbotron" style="background:lightyellow">

      <label style="display: block"><b>Softver kom se izdaje sertifikat</b></label>
      <select  id="searchTo" name="searchTo"  class="form-control" style="margin-left:20px;width: 300px; margin-bottom: 15px; display: inline-block" [formControl]="city">
        <option *ngFor = "let software of subjects" [ngValue]="software.city">{{software.city}}</option>
      </select>



  </div>

  <div class="container" class="jumbotron" style="background:lightyellow">
<div>
      <label style="font-weight: bold">Start date:</label>
      <i class="fa fa-clock-o" aria-hidden="true" style="width: 30px; height: 30px; margin-left: 65px; margin-right: 10px;"></i>
      <input   name="startDate"  type="date" style="width: 300px;  display: inline-block" class="form-control margin"
               id="startDate" [formControl]="startDate">

</div>
    <div>
      <label style="font-weight: bold">End date:</label>
      <i class="fa fa-clock-o" aria-hidden="true" style="width: 30px; height: 30px; margin-left: 65px; margin-right: 10px;"></i>
      <input   name="endDate"  type="date" style="width: 300px;  display: inline-block" class="form-control margin"
               id="endDate" [formControl]="endDate">
    </div>


  </div>


  <button [disabled]="!form.valid" class="btn btn-dark" style="display: inline-block;height: 50px; width: 150px;margin-left: 450px;" (click)="confirm()">Confirm</button>
  </div>
</form>
