<div style="text-align: center" [hidden]="vis">
<div style="text-align: center" class="btn-box">
  <button  class="btn btn-primary" (click)="createCertificate()">Kreiraj sertifikat</button>
  <button  class="btn btn-primary" (click)="show()">Prikazi sertifikate</button>
  <button  class="btn btn-primary" (click)="softwares()">Komunikacija</button>
  <button  class="btn btn-primary" (click)="odjaviSe()">Odjavi se</button>

</div>
</div>

<div [hidden]="!vis" style="text-align: center;">
  <h2 style="text-align: center;">Nemate pristup</h2>
  <br>
  <button class="btn btn-primary" (click)="povratak()">Pocetna</button>
</div>

