<div class="container">

  <div class="jumbotron">
    <h1 style="text-align: center; margin-bottom: 30px">Unos kategorije u sistem</h1>


    <div  class="col-md-4" style="margin: 0 auto;">

      <form [formGroup]="form">

        <div class="form-group">

          <label>Naziv</label>
          <input class="form-control margin" placeholder="Unesite naziv..." [formControl]="name">
          <br>

          <button class="btn btn-primary" style="width: 100%; margin-bottom: 20px;" (click)="addNewCategory()" [disabled]="!form.valid">Unesi</button><br>

          <tbody *ngFor="let t of categories">
          <td>{{t.name}}</td>
          <td><button class="btn btn-link" (click)="removeCategory(t)">Delete</button></td>
          </tbody>

          <button class="btn btn-primary" style="width: 100%; margin-bottom: 20px;" (click)="removeCategory()" [disabled]="!form.valid">Obrisi</button><br>
          <button style="width: 100%; margin-bottom: 20px;" class="btn btn-primary">Nazad</button>


        </div>


      </form>
    </div>
  </div>
</div>

