<div class="container">

  <div class="jumbotron" style="text-align: center;">
    <h1>Administratorski panel</h1>
  </div>

  <div class="row" style="text-align: center">
    <div class="col-md-5" style="text-align: center;">

      <button class="btn btn-primary" (click)="agents()">Lista agenata</button>
      <button class="btn btn-primary" (click)="users()">Lista korisnika</button>
      <button class="btn btn-primary" (click)="categories()">Lista kategorija</button>
      <button class="btn btn-primary" (click)="additionalsServices()">Lista dodatnih usluga</button>
      <button class="btn btn-primary" (click)="accommodationTypes()">Lista tipova smeštaja</button>


    </div>

    <div class="col-md-5" style="text-align: right;">

      <button class="btn btn-primary">Profil</button>
      <button class="btn btn-primary" (click)="logOut()">Odjavi se</button>

    </div>

  </div>

</div>
