<div class="container">

  <div class="jumbotron" style="text-align: center;">
    <h1>Administratorski panel</h1>
  </div>

  <div class="row" style="text-align: center">
    <div class="col-md-5" style="text-align: center;">

      <button class="btn btn-primary">Lista agenata</button>
      <button class="btn btn-primary">Lista korisnika</button>

    </div>

    <div class="col-md-5" style="text-align: right;">

      <button class="btn btn-primary">Profil</button>
      <button class="btn btn-primary">Odjavi se</button>

    </div>

  </div>

</div>
