<div [hidden]="vis">

  <div style="text-align: center;margin-top: 30px">
    <button class="btn btn-success" style="width: 40%;margin-top: 20px; font-size: 1.5em;margin-bottom: 30px"
            (click)="addReservations()">Dodaj rezervaciju
    </button>
  </div>



  <div style="margin-top: 30px;width: 45%;display: inline-block">
    <h3>Rezervacije korisnika:</h3>
    <table class="table tables" style=" border: 1px solid black ;">
      <tr>
        <th class="th-style">Smestajna jedinica(kapacitet):</th>
        <th class="th-style">Od:</th>
        <th class="th-style">Do:</th>
        <th class="th-style">Korisnik:</th>
        <th class="th-style">Potvrdi rezervaciju:</th>
      </tr>

      <tr *ngFor="let r of reservations;">
        <td>{{r.room.capacity}}</td>
        <td>{{r.fromDate}}</td>
        <td>{{r.toDate}}</td>
        <td>{{r.user.username}}</td>
        <td style="text-align: center"><button style="border-radius: 12px;background-color: #1a8cff;color: white;" *ngIf="r.confirmed == false" (click)="confirmeReservation(r.id)" id="{{r.id}}">Potvrdi </button></td>
      </tr>


    </table>
  </div>

  <div style="margin-top: 20px;width: 35%;display: inline-block;margin-left: 10%;margin-right: 30px">
    <h3>Zauzeti termini:</h3>
    <table class="table tables" style=" border: 1px solid black ;">
      <tr>
        <th class="th-style">Smestajna jedinica:</th>
        <th class="th-style">Od:</th>
        <th class="th-style">Do:</th>
      </tr>

      <tr *ngFor="let p of items;">
        <td>{{p.room.capacity}}</td>
        <td>{{p.fromDate}}</td>
        <td>{{p.toDate}}</td>
      </tr>


    </table>
  </div>

</div>
<div [hidden]="!vis">

  <h2>Nemate pristup rezervacijama</h2>

</div>
