<div class="container">

  <h2 style="text-align: center">Lista vasih izdatih sertifikata</h2>

  <div class="md" style="display: inline-block">

    <div *ngFor="let cert of certif" style="border: 2px solid grey; border-radius: 5px; padding: 10px; display: inline-block">
      <label>Serijski broj: {{cert.serialNumber}}</label><br>
      <label>Izdato za: {{cert.subSoft.email}} </label><br>
      <label>Vazi od: {{cert.startDate | date : 'medium'}}</label><br>
      <label>Vazi do: {{cert.endDate | date : 'medium'}} </label><br>
      <button class="btn btn-dark">Povuci</button>
    </div>
  </div>

</div>
