<div class="container">

  <h2 style="text-align: center">Lista vasih izdatih sertifikata</h2>

  <div class="md" style="display: inline-block">

    <button style="display: block" class="btn btn-dark"  (click)="listAll()">Lista svih sertifikata u sistemu</button>

    <div *ngFor="let cert of certif" style="border: 2px solid grey; border-radius: 5px; padding: 10px; display: inline-block">
      <label>Serijski broj: {{cert.serialNumber}}</label><br>
      <label>Izdato od: {{cert.issuerSoft.email}} </label><br>
      <label>Izdato za: {{cert.subSoft.email}} </label><br>
      <label>Vazi od: {{cert.startDate | date : 'mediumDate'}}</label><br>
      <label>Vazi do: {{cert.endDate | date : 'mediumDate'}} </label><br>
      <label>Status: <b> {{getStatus(cert.revoked)}} </b> </label><br>
      <button *ngIf="!cert.revoked" class="btn btn-dark" (click)="revoke(cert.serialNumber)">Povuci</button>
      <br>
      <form [formGroup]="form">
      <label *ngIf = "visibleMessage== true" style="margin-top: 15px;font-weight: bold" >Selektujte razlog povlacenja:</label>
      <select [formControl]="message" id="message" name="message" *ngIf = "visibleMessage== true" class="form-control margin "  style="margin-bottom: 30px;width: 100%;">
        <option>Ukraden PKI</option>
        <option>Izgubljen PKI</option>
        <option>Privremeno povlacenje PKI</option>

      </select>
      <button  *ngIf = "visibleMessage== true" class="btn btn-dark" (click)="potvrdiPovlacenje(cert.serialNumber)">Potvrdi</button>
      </form>
    </div>
  </div>

</div>
